<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ebuy.dao.newdao.UserDao">
	<select id="countUser" resultType="int">
	<!-- 统计用户表总条目 -->
		select count(1) from easybuy_user
	</select>
	
	<select id="findUserByName" resultType="EasybuyUser">
	<!-- 通过用户登陆名查找用户 -->
		select * from easybuy_user where loginName = #{loginName}
		<if test="password != null">and password = #{password}</if>
	</select>
	
	
	<insert id="addUser" parameterType="EasybuyUser">
	<!-- 添加用户 -->
		insert into easybuy_user(loginName,userName,sex,identityCode,password,email,mobile,type) 
								values(#{loginName},#{userName},#{sex},#{identityCode},#{password},
								#{email},#{mobile},#{type})
	</insert>
	
	<select id="findUserById" resultType="EasybuyUser">
	<!-- 通过用户id找到用户 -->
		select * from easybuy_user where id = #{id}
	</select>
	
	<update id="updateUser" parameterType="EasybuyUser">
	<!-- 更新用户信息 -->
		update easybuy_user 
			<set>
				<if test="loginName != null">loginName = #{loginName},</if>
				<if test="userName != null">userName = #{userName},</if>
				<if test="identityCode != null">identityCode = #{identityCode},</if>
				<if test="email != null">email = #{email},</if>
				<if test="mobile != null">mobile = #{mobile},</if>
				<if test="type != null">type = #{type},</if>
			</set>
			where id = #{id}
	</update>
	
	<delete id="delUserById">
	<!-- 通过id，删除用户 -->
		delete from easybuy_user where id = #{id}
	</delete>
	
	<select id="findUserPageList" resultType="EasybuyUser">
		select * from easybuy_user limit #{currentNo},#{pageSize}
	</select>
	
	

</mapper>